@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import './base.css'; */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

img{
  max-width:100%;
}

.swiper-pagination{
  position:unset !important;
  margin-top: 20px;
}

.swiper-pagination>.swiper-pagination-bullet-active{
  background-color:#FD4A36;
  width:30px;
  border-radius:20px;
  transition: transform 0.3s;
  transform: scale(1.1);
}

.swiper-pagination>span{
  background-color: whitesmoke;
  opacity:1;
}

.swiper-pagination-lock{
  display:block !important;
}

.swiper-pagination>span:last-child{
  display: none !important;
}

.swiper-3d .swiper-slide-shadow-left{
  background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-right{
  background-image: none !important;
}

.bullets>.swiper-pagination{
  margin-top:-35px;
  z-index:99;
  display: block !important;
  position:relative !important;
}

.bullets>.swiper-pagination-bullets>span{
  width:1.25rem;
  height:3px;
  background-color: white;
  border-radius: 0;
}

.bullets>.swiper-pagination-bullets>.swiper-pagination-bullet-active{
  background-color:#FD4A36 !important;
}

/* .bullets>.swiper-pagination>span:last-child{
  display: block !important;
} */

.nav{
  @apply p-3 xl:text-sm lg:text-xs text-white;
}

.header{
  @apply py-3 text-center text-primary font-semibold hover:bg-white;
}

.footer-nav{
  @apply sm:p-2 p-[5px] sm:text-sm text-[0.65rem];
}

.testimonial-sliders{
  @apply flex flex-row-reverse gap-4 mt-7 items-center sm:justify-start justify-between;
}