.swiper_spacing {
    padding: 45px 59px !important;
    height: 585px;
}

@media screen and (max-width: 425px){
    .swiper_spacing{
        padding: 44px 29px !important;
    }

    /* .swiper_spacing >.swiper-button-prev{
        left:0;
    } */
}

.swiper_modify{
    width:75% !important;
    margin:auto !important;
    padding: 20px 2px;
}

.active>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.3s ease;
    transform: scale(1.13);
}

#next{
    position: absolute;
}

@media screen and (max-width: 365px){
    #next{
        top: 40%;
    }
}

#next::after{
    font-size:20px;
    font-weight:bold;
    color:#FD4A36;
}

